.row-style {
  height: 100px;
}
.home-heading {
  font-size: 55px;
  margin-top: 80px;
}
.home-paragraph {
  font-size: 20px;
}
.home-button {
  width: 200px;
  height: 50px;
  border-color: #32303a;
  background-color: #32303a;
  color: #f8b742;
  border-radius: 5px;
}
.home-button:hover {
  color: #141414;
  background-color: #b4b1af;
  border-color: #b4b1af;
}
.home-image {
  max-width: 630px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 100px;
}
.sub-image {
  width: 580px;
  height: auto;
  margin-top: 100px;
  margin-bottom: 30px;
}
.processlogo {
  width: 50px;
  height: auto;
  border-radius: 100%;
  border: 5px solid rgb(230, 58, 6);
}
.process {
  font-size: 20px;
  font-weight: 400;
}
.wrapper {
  position: relative;
}
.mainimage {
  width: 320px;
  height: 420px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0) 7px 7px 7px 7px;
  object-fit: cover;
  /* border:  3px solid rgb(230, 58, 6); */
}

.play {
  position: absolute;
  width: 200px;
  left: 50%;
  border-radius: 4px;
  object-fit: cover;
  border:white 2px solid;
}

.category-button {
  border-radius: 30px;
  background-color: #f6c06a;
  width: 150px;
  height: 50px;
}
.bell-icon {
  width: 23px;
  height: 23px;
  margin-right: 13px;
}
@media (max-width: 1399.98px) {
  .mainimage {
    width: 270px;
    height: 370px;
  }
  .play {
    width: 175px;
    height: 105px;
    border:white 2px solid;
  }
  .sub-image {
    width: 520px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 80px;
  }
}

@media (max-width: 1199.98px) {
  .row-style {
    height: 70px;
  }
  .home-heading {
    font-size: 47px;
    margin-top: 40px;
  }
  .home-paragraph {
    font-size: 18px;
  }
  .home-button {
    width: 160px;
    height: 45px;
  }
  .home-image {
    width: 520px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .process {
    font-size: 18px;
    font-weight: 400;
  }
  .processlogo {
    width: 40px;
    height: auto;
    border-radius: 100%;
    border: 5px solid rgb(230, 58, 6);
  }
  .mainimage {
    width: 240px;
    height: 340px;
    box-shadow: rgba(0, 0, 0, 0) 3px 3px 3px 3px;
  }
  .play {
    width: 140px;
    height: 80px;
    border:white 2px solid;
  }
  .sub-image {
    width: 450px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 50px;
  }
}

@media (max-width: 991.98px) {
  .row-style {
    margin-top: 0px;
  }
  .home-heading {
    font-size: 36px;
    margin-top: 30px;
  }
  .home-paragraph {
    font-size: 18px;
  }
  .home-button {
    width: 140px;
    height: 40px;
    font-size: 16px;
  }
  .home-image {
    max-width: 400px;
    height: auto;
  }
  .process {
    font-size: 16px;
    font-weight: 400;
  }
  .processlogo {
    width: 30px;
  }
  .mainimage {
    width: 180px;
    height: 280px;
    box-shadow: rgba(0, 0, 0, 0) 2px 2px 2px 2px;
  }
  .play {
    width: 105px;
    height: 63px;
    border:white 2px solid;
  }
  .sub-image {
    width: 350px;
    height: auto;
    margin-top: 110px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  .row-style {
    height: 0px;
  }
  .home-heading {
    font-size: 45px;
    text-align: center;
    margin-top: 60px;
  }
  .home-paragraph {
    font-size: 18px;
    text-align: center;
  }
  .home-button {
    width: 100%;
    height: 50px;
  }
  .home-image {
    max-width: 530px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .process {
    font-size: 18px;
    font-weight: 400;
  }
  .processlogo {
    width: 50px;
  }
  .mainimage {
    width: 330px;
    height: 430px;
  }
  .play {
    width: 205px;
    height: 107px;
    border:white 2px solid;
  }
  .sub-image {
    width: 510px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
