Body {
  background-color: #f8f7e9;
}

.bg-color {
  background-color: #f8f7e9;
}

.bg-color-white {
  background-color: white;
}

.bg-color-deliverer {
  background-color: #fff5b0;
}

.btn-primary {
  color: black;
  background-color: #f8b742;
}

/* .welcome-text {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
} */
/* used */
.container-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* used */
.btn-margin {
  margin-left: 10px;
  margin-right: 10px;
}

/* used */
.image-size {
  object-fit: cover;
  max-height: 200px;
  min-height: 200px;
  display: block;
  /* border-radius: 0.25rem; */
}

/* .image-size-restaurant {
  object-fit: cover;
  height: auto;
  max-height: 60px;
  min-height: 60px;
  max-width: 60px;
  min-width: 60px;
  margin: 40px 10px 10px 15px;
  display: block;
  border-radius: 100%;
  border-color: white;
} */

.image-size-product {
  object-fit: cover;
  height: auto;
  max-height: 50px;
  min-height: 50px;
  max-width: 50px;
  min-width: 50px;
  border-radius: 100%;
}

.image-size-nested {
  object-fit: cover;
  max-height: 100px;
  min-height: 100px;
  max-width: 47%;
  min-width: 47%;
  margin: 0;
}

.display {
  display: inline-flex;
}

/* .icon-color-like {
  color: #ff4308;
}

.icon-color-location {
  color: #fece00;
} */

.align-items {
  align-items: center;
}

.restourent {
  margin-left: 15px;
  margin-top: 10px;
  color: #f8f7e9;
}

.image-size-1 {
  object-fit: cover;
  max-height: 200px;
  min-height: 200px;
  max-width: 100%;
  min-width: 100%;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.image-size-2 {
  object-fit: cover;
  max-height: 100px;
  min-height: 100px;
  max-width: 100%;
  min-width: 100%;
  border-top-right-radius: 0.25rem;
}

.image-size-3 {
  object-fit: cover;
  max-height: 100px;
  min-height: 100px;
  max-width: 100%;
  min-width: 100%;
  border-bottom-right-radius: 0.25rem;
}

.margin-remove-1 {
  margin: 0;
}

/* .add-to-cart-btn {
  margin-top: 155px;
  color: black;
  background-color: #fdca6e;
  width: 120px;
} */

/* .in-cart-btn {
  margin-top: 155px;
  color: black;
  background-color: #f4633b;
  width: 120px;
} */

.rounded-btn {
  color: black;
  background-color: #fdca6e;
  width: 120px;
}

.rounded-btn-in-cart {
  color: black;
  background-color: #f4633b;
  width: 120px;
  
}

/* .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  margin-top: 0.7rem;
  margin-left: 0.8rem;
} */

/* .search-margin {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 35px;
} */

/* .search-margin-btn {
  margin-top: 10px;
  margin-bottom: 10px;
} */

.padding-right-remove {
  padding-right: 0;
}

.padding-left-remove {
  padding-left: 0;
}

/* .padding-remove {
  padding: 0;
} */

.desc {
  border-radius: 2%;
  max-height:300px;
  min-height:300px;
  object-fit:cover;
}

.product-details {
  height: 400px;
  background-color: white;
}

/* .price-dev-width {
  width: 100px;
  text-align: end;
} */

/* .icon-color-food {
  color: #ff4308;
} */

.icon-color-grocery {
  color: #5caf2c;
}

.icon-color-health {
  color: #2074f1;
}

.margin-top-0 {
  margin-top: 0;
}

.padding-acive-logo {
  padding-top: 30px;
}

.agreement-statement {
  background-color: white;
  border-radius: 0.25rem;
  border-color: gray;
}

/* .control-product-img {
  cursor: pointer;
  border: 2.5px solid whitesmoke;
} */

/* .control-product-img:hover {
  cursor: pointer;
  border: 0.001px solid lightsalmon;
  
} */
